In [1]:
# Pandas is a library for basic data analysis
import pandas as pd

# NumPy is a library for advanced mathematical computation
import numpy as np

# MatPlotLib is a library for basic data visualization
import matplotlib.pyplot as plt

# SeaBorn is a library for advanced data visualization
import seaborn as sns

In [2]:
sns.set(style="white", context="notebook", palette="deep")

COLOR_COLUMNS = ["#66C2FF", "#5CD6D6", "#00CC99", "#85E085", "#FFD966", "#FFB366", "#FFB3B3", "#DAB3FF", "#C2C2D6"]

sns.set_palette(palette=COLOR_COLUMNS, n_colors=4)

In [15]:
df = [1,1,1,0,0,1,0,0,1,1,0]

In [33]:
head_counter = 0
tail_counter = 0
for i in df:
    if i == 1:
        head_counter += 1
    if i == 0:
        tail_counter += 1

In [34]:
head_probability = head_counter/len(df)

In [35]:
tail_probability = tail_counter/len(df)

In [36]:
head_probability

0.5454545454545454

In [37]:
tail_probability

0.45454545454545453

In [38]:
import pandas as pd
# Outlook    Temp.    Humidity    Wind    Decision
df = pd.read_csv('tennis.txt', delimiter="\t", header=None, names=['a', 'b', 'c', 'd', 'e'])

In [39]:
df

           a     b       c       d    e
1      Sunny   Hot    High    Weak   No
2      Sunny   Hot    High  Strong   No
3   Overcast   Hot    High    Weak  Yes
4       Rain  Mild    High    Weak  Yes
5       Rain  Cool  Normal    Weak  Yes
6       Rain  Cool  Normal  Strong   No
7   Overcast  Cool  Normal  Strong  Yes
8      Sunny  Mild    High    Weak   No
9      Sunny  Cool  Normal    Weak  Yes
10      Rain  Mild  Normal    Weak  Yes
11     Sunny  Mild  Normal  Strong  Yes
12  Overcast  Mild    High  Strong  Yes
13  Overcast   Hot  Normal    Weak  Yes
14      Rain  Mild    High  Strong   No

In [47]:
len(df[(df['d']=='Weak') & (df['e']=='Yes')])

6

In [48]:
len(df)

14

In [49]:
6/14

0.42857142857142855

In [50]:
len(df[(df['d']=='Strong') & (df['e']=='Yes')])

3

In [51]:
3/14

0.21428571428571427

In [52]:
len(df[(df['d']=='Weak') & (df['e']=='No')])

2

In [53]:
2/14

0.14285714285714285

In [54]:
len(df[(df['d']=='Strong') & (df['e']=='No')])

3

In [55]:
3/14

0.21428571428571427

In [65]:
ds = pd.read_csv('tennis.txt', delimiter="\t", header=None, names=['Outlook', 'Temp', 'Humidity', 'Wind', 'Decision'])

In [69]:
def c(p1,p2,c1,c2):
    ndf = df[df[p1] == c1][p2]
    s = ndf.unique()
    psize = len(ndf)
    pr = {}
    for i in s:
        pr[i] = len(df[(df[p1]==c1)&(dr[p2]==i)])/psize
    return pr